/* Mobile portrait */
body {
    font-family: Arial, sans-serif;
}

h1, h2, h5 {
    color: aquamarine;
}

header {
    padding: 1px 5px 0;
    background-color: #175872;
    margin: auto;
    border-radius: 10px;
}

nav {
    height: 30px;
}

a {
    background-color: #0da8dd;
    border-radius: 10px;
    padding: 5px;
    color: #123747;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

main {
    width: 50%;
    margin: auto;
}

article {
    background-color: #175872;
    padding-bottom: 5px;
    border-radius: 10px;
}

article article header {
    background-color: #147ea7;
    border-radius: 10px;
}

main article {
    margin-top: 20px
}

article > article {
    background-color: #147ea7;
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 1px;
}

article ul, ol, p{
    background-color: #0da8dd;
    border-radius: 10px;
    color: #123747;
    margin: 5px;
}

em {
    background-color: #4fa7c6;
    color: deeppink;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #175872;
    color: aquamarine;
}

img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

p {
    padding: 5px;
}

@media all and (min-width: 350px) {
    h1 {
        font-size: 4em;
    }
}

/* Mobile landscape */
@media all and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

/* Tablet portrait */
@media all and (min-width: 992px) {
    h1 {
        font-size: 3em;
    }
}

/* Tablet landscape/Desktop */
@media all and (min-width: 1200px) {
    h1 {
        font-size: 2em;
    }

    a {

    }
}
